.page {
  flex: 1 0 auto;
}

.offer {
  background: #ffffff;
  border: 1px solid #cfcfcf;
  box-sizing: border-box;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.offer__text {
  width: 870px;
  margin: 0 auto;
  font-size: 14px;
}

@media (max-width: 990px) {
  .offer__text {
    width: 100%;
  }
}

.offer__btn {
  background: #f97d02;
  border-radius: 10px;
  color: #fff;
  padding: 13px 24px;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  width: 190px;
  justify-content: center;
  margin: 30px auto 0;
}

.news__title {
  text-align: center;
  font-size: 24px;
  color: #515151;
  margin-top: 60px;
}

.news-wrapper {
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.news-row {
  display: flex;
  margin: 0 -22.5px;
}
